[yourblog.com]
feed_url=http://www.yourblog.com/index.php/feed/
num_last_tweets=4
intervals_between_tweets_in_seconds=60
attach_featured_images=true
dry_run=false
oauth_token=
oauth_token_secret=
oauth_consumer_key=
oauth_consumer_secret=

[yourOtherBlog.com]
feed_url=http://www.yourotherblog.com/index.php/feed/
num_last_tweets=2
intervals_between_tweets_in_seconds=300
attach_featured_images=false
dry_run=true
oauth_token=
oauth_token_secret=
oauth_consumer_key=
oauth_consumer_secret=
